cmake>=3.22.4
google-api-python-client>=2.47.0
google-auth-oauthlib>=0.5.1
SpeechRecognition>=3.8.1
pyttsx3>=2.90
pywhatkit>=5.3
wikipedia>=1.4.0
pygame>=2.1.2
schedule>=1.1.0
numpy>=1.22.3
opencv-python>=4.5.5.64
face-recognition>=1.3.0
pyasn1
pyopenssl
ndg-httpsclient
